{% load static %}
<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#343a40">
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/global-style.css" %}">
    {% block header %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url "index" %}"><i class="material-icons">directions_bike</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if navlink == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url "index" %}">Sharebike{% if navlink == 'home' %}
                    <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% if signed_in %}
                {% if user_role == "admin" %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if navlink == 'event' %}active{% endif %}"
                           href="{% url "eventvd" %}"
                           id="admin-event-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Event{% if navlink == 'event' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                        <div class="dropdown-menu" aria-labelledby="admin-event-dropdown">
                            <a class="dropdown-item" href="{% url "eventvd" %}">View event</a>
                            <a class="dropdown-item" href="{% url "eventcu" %}">Add event</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if navlink == 'shift' %}active{% endif %}"
                           href="{% url "shift" %}"
                           id="admin-shift-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Shift{% if navlink == 'shift' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                        <div class="dropdown-menu" aria-labelledby="admin-shift-dropdown">
                            <a class="dropdown-item" href="{% url "shift" %}">View shift</a>
                            <a class="dropdown-item" href="{% url "shiftcu" %}">Add shift</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if navlink == 'station' %}active{% endif %}"
                           href="{% url "stationvd" %}"
                           id="admin-station-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Station{% if navlink == 'station' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                        <div class="dropdown-menu" aria-labelledby="admin-station-dropdown">
                            <a class="dropdown-item" href="{% url "stationvd" %}">View station</a>
                            <a class="dropdown-item" href="{% url "stationcu" %}">Add station</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if navlink == 'bike' %}active{% endif %}"
                           href="{% url "bikevd" %}"
                           id="admin-bike-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Bike{% if navlink == 'bike' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                        <div class="dropdown-menu" aria-labelledby="admin-bike-dropdown-">
                            <a class="dropdown-item" href="{% url "bikevd" %}">View bike</a>
                            <a class="dropdown-item" href="{% url "bikecu" %}">Add bike</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if navlink == 'voucher' %}active{% endif %}"
                           href="{% url "vouchervd" %}"
                           id="admin-voucher-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Voucher{% if navlink == 'voucher' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                        <div class="dropdown-menu" aria-labelledby="admin-voucher-dropdown">
                            <a class="dropdown-item" href="{% url "vouchervd" %}">View voucher</a>
                            <a class="dropdown-item" href="{% url "vouchercu" %}">Add voucher</a>
                        </div>
                    </li>
                    <li class="nav-item {% if navlink == 'rental' %}active{% endif %}">
                        <a class="nav-link" href="{% url "rentalvd" %}">Rental{% if navlink == 'rental' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'report' %}active{% endif %}">
                        <a class="nav-link" href="{% url "reportv" %}">Report{% if navlink == 'report' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                {% elif user_role == "member" %}
                    <li class="nav-item {% if navlink == 'station' %}active{% endif %}">
                        <a class="nav-link" href="{% url "stationvd" %}">Station{% if navlink == 'station' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'bike' %}active{% endif %}">
                        <a class="nav-link" href="{% url "bikevd" %}">Bike{% if navlink == 'bike' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url "rentalvd" %}" id="member-rental-dropdown"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rental</a>
                        <div class="dropdown-menu" aria-labelledby="member-rental-dropdown">
                            <a class="dropdown-item" href="{% url "rentalvd" %}">View rental</a>
                            <a class="dropdown-item" href="{% url "rentalcu" %}">Add rental</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if navlink == 'sharebikepay' %}active{% endif %}"
                           href="{% url "sharebikepayv" %}" id="member-sharebikepay-dropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sharebike Pay
                            {% if navlink == 'sharebikepay' %}<span class="sr-only">(current)</span>{% endif %}</a>
                        <div class="dropdown-menu" aria-labelledby="member-transaction-dropdown">
                            <a class="dropdown-item" href="{% url "sharebikepayc" %}">Top up Sharebike Pay</a>
                            <a class="dropdown-item" href="{% url "sharebikepayv" %}">Transaction history</a>
                        </div>
                    </li>
                    <li class="nav-item {% if navlink == 'event' %}active{% endif %}">
                        <a class="nav-link" href="{% url "eventvd" %}">Event{% if navlink == 'event' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'voucher' %}active{% endif %}">
                        <a class="nav-link" href="{% url "vouchervd" %}">Voucher{% if navlink == 'voucher' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                {% elif user_role == "staff" %}
                    <li class="nav-item {% if navlink == 'shift' %}active{% endif %}">
                        <a class="nav-link" href="{% url "shift" %}">Shift{% if navlink == 'shift' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'station' %}active{% endif %}">
                        <a class="nav-link" href="{% url "stationvd" %}">Station{% if navlink == 'station' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'bike' %}active{% endif %}">
                        <a class="nav-link" href="{% url "bikevd" %}">Bike{% if navlink == 'bike' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'event' %}active{% endif %}">
                        <a class="nav-link" href="{% url "eventvd" %}">Event{% if navlink == 'event' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'report' %}active{% endif %}">
                        <a class="nav-link" href="{% url "reportv" %}">Report{% if navlink == 'report' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'rental' %}active{% endif %}">
                        <a class="nav-link" href="{% url "rentalvd" %}">Rental{% if navlink == 'rental' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item {% if navlink == 'voucher' %}active{% endif %}">
                        <a class="nav-link" href="{% url "vouchervd" %}">Voucher{% if navlink == 'voucher' %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>

                {% endif %}
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if signed_in %}
                <li class="nav-item">
                    <a href="{% url "signout" %}" class="btn btn-outline-light ml-2 btn-inline">Sign out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-light ml-2 mb-2" data-toggle="modal"
                            data-target="#signInModal">Sign in
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-light ml-2 mb-2" data-toggle="modal"
                            data-target="#registerModal">Register
                    </button>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signInModalTitle">Sign in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url "login" %}">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="sign-in-id">ID</label>
                    <div class="input-group mb-3">
                        <input type="text" aria-label="ID" class="form-control" id="sign-in-id" name="userId"
                               placeholder="1234567890123456" required data-container="body" data-toggle="popover"
                               data-placement="right" data-content="Not an id." data-trigger="manual">
                    </div>
                    <label for="sign-in-email">Email</label>
                    <div class="input-group mb-3" data-container="body" data-toggle="popover"
                         data-placement="right" data-content="Not an email" id="full-email" data-trigger="manual">
                        <input type="text" aria-label="Email" class="form-control w-auto" id="sign-in-email"
                               name="email" placeholder="demo.suremo" required>
                        <div class="input-group-prepend input-group-append">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" aria-label="Domain" class="form-control" id="sign-in-domain" name="domain"
                               placeholder="badak.cs.ui.ac.id" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="sign-in-submit" disabled>Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url "register" %}" method="POST">
                    {% csrf_token %}
                    <label for="register-role">Role</label>
                    <div class="input-group mb-3">
                        <select name="role" class="custom-select" id="register-role" aria-label="Role">
                            <option selected>Pick role</option>
                            <option value="member">Member</option>
                            <option value="admin">Admin</option>
                            <option value="staff">Staff</option>
                        </select>
                    </div>
                    <label for="register-id">ID</label>
                    <div class="input-group mb-3">
                        <input name="id" type="text" aria-label="ID" class="form-control" id="register-id"
                               placeholder="1234567890123456">
                    </div>
                    <label for="register-name">Full name</label>
                    <div class="input-group mb-3">
                        <input name="name" type="text" aria-label="Full name" class="form-control" id="register-name"
                               placeholder="Demo Suremo">
                    </div>
                    <label for="register-email">Email</label>
                    <div class="input-group mb-3">
                        <input name="email" type="text" aria-label="Email" class="form-control w-auto"
                               id="register-email"
                               placeholder="demo.suremo">
                        <div class="input-group-prepend input-group-append">
                            <span class="input-group-text">@</span>
                        </div>
                        <input name="domain" type="text" aria-label="Domain" class="form-control" id="register-domain"
                               placeholder="badak.cs.ui.ac.id">
                    </div>
                    <label for="register-birthdate">Birthdate</label>
                    <div class="input-group mb-3">
                        <input name="birthdate" type="date" aria-label="Birthdaate" class="form-control"
                               id="register-birthdate">
                    </div>
                    <label for="register-number">Phone number</label>
                    <div class="input-group mb-3">
                        <input name="phone" type="tel" aria-label="Phone number" class="form-control"
                               id="register-number"
                               placeholder="123456789012">
                    </div>
                    <label for="register-address">Address</label>
                    <div class="input-group mb-3">
                    <textarea name="address" class="form-control" aria-label="Address" id="register-address"
                              placeholder="badak.cs.ui.ac.id"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="register-submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 3rem;">
    {% block body %}{% endblock %}
</div>
<script src="{% static "js/jquery-3.4.1.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.js" %}"></script>
<script src="{% static "js/js.cookie.js" %}"></script>
<script src="{% static "js/global-script.js" %}"></script>
</body>
</html>