{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Stations</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Sharebike station</h1>
        <form class="form-inline" method="GET" action="{% url "bikevd" %}">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %}selected{% endif %}>Sort by</option>
                <option value="number" {% if sort == "number" %}selected{% endif %}>Number</option>
                <option value="brand" {% if sort == "brand" %}selected{% endif %}>Brand</option>
                <option value="type" {% if sort == "type" %}selected{% endif %}>Type</option>
                <option value="station_id" {% if sort == "station_id" %}selected{% endif %}>Station</option>
                <option value="status" {% if sort == "status" %}selected{% endif %}>Available</option>
                <option value="donator_card_num" {% if sort == "donator_card_num" %}selected{% endif %}>Donator</option>
            </select>
            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Brand</th>
                <th scope="col">Type</th>
                <th scope="col">Station</th>
                <th scope="col">Available</th>
                <th scope="col">Donator</th>
                {% if user_role == "admin" or user_role == "member" %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for bike, brand, type, status, station_id, donator_id in bikes %}
                {% for station in stations %}
                    {% for donator in donators %}
                        {% if forloop.counter == forloop.parentloop.counter and forloop.counter == forloop.parentloop.parentloop.counter %}
                            <tr>
                                <th scope="row">{{ bike }}</th>
                                <td>{{ brand }}</td>
                                <td>{{ type }}</td>
                                <td>{{ station }}</td>
                                <td>{% if not status %}No{% else %}Yes{% endif %}</td>
                                <td>{{ donator }}</td>
                                {% if user_role == "admin" %}
                                    <td>
                                        <a href="{% url "bikecu" %}?id={{ bike }}" class="btn btn-outline-dark mr-2">Update</a>
                                        <a href="{% url "bikedelete" %}?id={{ bike }}" class="btn btn-outline-danger mr-2">Delete</a>
                                    </td>
                                {% endif %}
                                {% if user_role == "member" %}
                                    <td>
                                        <a href="#" class="btn btn-outline-dark mr-2">Rent</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "bikevd" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}