{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Bikes</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Add/update bike</h1>
        <form action="{% url "bikecu" %}" method="POST">
            {% csrf_token %}
            <input name="cu_method" type="hidden" value="{{ cu_method }}">
            <input name="id" type="hidden" value="{{ bike_id }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="bike-brand">Brand</label>
                    <input name="brand" type="text" class="form-control" id="bike-brand" placeholder="Brand" value="{{ bike_brand }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="bike-type">Type</label>
                    <input name="type" type="text" class="form-control" id="bike-type" placeholder="Type" value="{{ bike_type }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="bike-status">Status</label>
                    <select name="status" id="bike-status" class="form-control">
                        <option value="true" {% if not bike_status %}selected{% endif %}>Available</option>
                        <option value="false" {% if bike_status %}selected{% endif %}>Not available</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="bike-station">Station</label>
                    <select name="station" id="bike-station" class="form-control">
                        {% for id, name in stations %}
                            <option value="{{ id }}" {% if bike_station == id %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="bike-donator">Dontaor</label>
                    <select name="donator" id="bike-donator" class="form-control">
                        {% for id, name in donators %}
                            <option value="{{ id }}" {% if bike_donator == id %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
{% endblock %}