{% extends "_template.html" %}
{% load static %}
{% block header %}
    <title>Share Bike - Events</title>
    <link rel="stylesheet" href="{% static "css/index-style.css" %}">
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Sharebike events</h1>
        <form class="form-inline" method="GET" action="{% url "eventvd" %}">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %}selected{% endif %}>Sort by</option>
                <option value="event_id" {% if sort == "event_id" %}selected{% endif %}>Number</option>
                <option value="title" {% if sort == "title" %}selected{% endif %}>Title</option>
                <option value="description" {% if sort == "description" %}selected{% endif %}>Description</option>
                <option value="start_date" {% if sort == "start_date" %}selected{% endif %}>Start date</option>
                <option value="end_date" {% if sort == "end_date" %}selected{% endif %}>End date</option>
                <option value="is_free" {% if sort == "is_free" %}selected{% endif %}>Free</option>
            </select>
            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Free</th>
                {% if user_role == "admin" %}
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for id, title, description, start_date, end_date, is_free in events %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td>{{ title }}</td>
                    <td>{{ description }}</td>
                    <td>{{ start_date }}</td>
                    <td>{{ end_date }}</td>
                    <td>{% if is_free %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</td>
                    {% if user_role == "admin" %}
                        <td>
                            <a href="{% url "eventcu" %}?id={{ id }}" class="btn btn-outline-dark mr-2">Update</a>
                            <a href="{% url "eventdelete" %}?id={{ id }}" class="btn btn-outline-danger mr-2">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "eventvd" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}