{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Events</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Add/update event</h1>
        <form action="{% url "eventcu" %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event_id" value="{{ event.0 }}">
        <input type="hidden" name="cu_method" value="{{ cu_method }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="event-title">Title</label>
                    <input name="title" type="text" class="form-control" id="event-title" placeholder="Title" value="{{ event.1 }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="event-free">Free</label>
                    <select name="is_free" id="event-free" class="form-control">
                        <option {% if not event %}selected{% endif %}>Yes/No</option>
                        <option value="true" {% if event and event.5 %}selected{% endif %}>Yes</option>
                        <option value="false" {% if event and not event.5 %}selected{% endif %}>No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="event-description">Description</label>
                <textarea name="description" type="text" class="form-control" id="event-description" placeholder="Description">{{ event.2 }}</textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="event-start">Start Date</label>
                    <input name="start_date" type="date" class="form-control" id="event-start" value="{{ start_date }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="event-end">End Date</label>
                    <input name="end_date" type="date" class="form-control" id="event-end" value="{{ end_date }}">
                </div>
            </div>
            <div class="form-group">
                <label for="event-station">Station</label>
                <select name="stations" id="event-station" class="form-control" aria-label="Shift station" multiple>
                    {% for id, name in stations %}
                        <option value="{{ id }}" {% for se in event_station %}
                            {% if se.0 == id %}selected{% endif %}
                        {% endfor %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
{% endblock %}