{% extends "_template.html" %}
{% load static %}
{% block header %}
    <title>Share Bike</title>
    <link rel="stylesheet" href="{% static "css/index-style.css" %}">
{% endblock %}
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sharebike</h1>
            <p class="lead">Where your bike get shared.</p>
        </div>
    </div>
{% endblock %}