{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Rental</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Add/update rental</h1>
        <form action= "{% url "rentalcu" %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="rental_id" value="{{ rental.0 }}">
        <input type="hidden" name="cu_method" value="{{ cu_method }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="station-bike">Stations</label>
                    <select name="rental_stations" id="rental-station" class="form-control" aria-label="Shift station" multiple>
                        {% for id, name in rental-stations %}
                            <option value="{{ id }}" {% for se in rental_station %}
                                {% if se.0 == id %}selected{% endif %}
                            {% endfor %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
{% endblock %}