{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Rental</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Sharebike rental</h1>
        <form class="form-inline" method="GET" action="{% url "rentalvd" %}">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %} selected {% endif %}>Sort by</option>
                <option value="member_card_num" {% if sort == "member_card_num" %}selected{% endif %}>Id</option>
                <option value="rent_datetime" {% if sort == "rent_datetime" %}selected{% endif %}>Rent date</option>
                <option value="station_id" {% if sort == "station_id" %}selected{% endif %}>Station</option>
                <option value="return_datetime" {% if sort == "return_datetime" %}selected{% endif %}>Return Date</option>
                <option value="bike_num" {% if sort == "bike_num" %}selected{% endif %}>Bike</option>
                <option value="cost" {% if sort == "cost" %}selected{% endif %}>Cost</option>
                <option value="fines" {% if sort == "fines" %}selected{% endif %}>fines</option>
            </select>

            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bike</th>
                <th scope="col">Station</th>
                <th scope="col">Return date</th>
                <th scope="col">Cost</th>
                <th scope="col">Fines</th>
            </tr>
            </thead>
            <tbody>
            {% for rental in rentals %}
                {% for bike in bikes %}
                    {% for station in stations %}
                        {% if forloop.counter == forloop.parentloop.counter and forloop.counter == forloop.parentloop.parentloop.counter %}
                            <tr>
                                <th scope="row">{{ rental.0 }}</th>
                                <td>{{ bike.0 }} - {{ bike.1 }}</td>
                                <td>{{ station.0 }} - {{ station.1 }}</td>
                                <td>{{ rental.3 }}</td>
                                <td>{{ rental.5 }}</td>
                                <td>{{ rental.6 }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button role="button" class="page-link text-dark">1</button>
                </li>
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "rentalvd" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}