{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Report</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Sharebike report</h1>
        <form class="form-inline" method="GET" action="{% url "reportv" %}">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %}selected{% endif %}>Sort by</option>
                <option value="id" {% if sort == "report_id" %}selected{% endif %}>Id</option>
                <option value="bike_num" {% if sort == "bike_num" %}selected{% endif %}>Bike</option>
                <option value="rent_datetime" {% if sort == "rent_datetime" %}selected{% endif %}>Date</option>
                <option value="member_card_num" {% if sort == "member_card_num" %}selected{% endif %}>Member</option>
                <option value="status" {% if sort == "status" %}selected{% endif %}>Status</option>
            </select>
            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Report is</th>
                <th scope="col">Rental date</th>
                <th scope="col">Member</th>
                <th scope="col">Fine</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for id, member, time, bike, station, status in reports %}
                {% for name in names %}
                    {% for fine in fines %}
                        {% if forloop.counter == forloop.parentloop.counter and forloop.counter == forloop.parentloop.parentloop.counter %}
                            <tr>
                                <th scope="row">{{ id }}</th>
                                <td>{{ bike }}</td>
                                <td>{{ time }}</td>
                                <td>{{ member }} - {{ name }}</td>
                                <td>{{ fine }}</td>
                                <td>{{ status }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "reportv" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}