{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Pay</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Top-up Sharebike Pay Balance</h1>
        <form action="{% url "sharebikepayc" %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="topup-nominal">Sharebike Pay Top-up nominal</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Rp</span>
                    </div>
                    <input name="amount" type="text" class="form-control" id="topup-nominal" placeholder="Enter nominal">
                    <div class="input-group-append">
                        <span class="input-group-text">,00</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
{% endblock %}