{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Pay</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-2">Transaction history</h1>
        <form class="form-inline" method="GET" action="{% url "sharebikepayv" %}">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %}selected{% endif %}>Sort by</option>
                <option value="date_time" {% if sort == "date_time" %}selected{% endif %}>Date</option>
                <option value="type" {% if sort == "type" %}selected{% endif %}>Type</option>
                <option value="nominal" {% if sort == "nominal" %}selected{% endif %}>Nominal</option>
            </select>
            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Transaction type</th>
                <th scope="col">Nominal</th>
            </tr>
            </thead>
            <tbody>
            {% for id, date, type, nominal in transactions %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td>{{ date }}</td>
                    <td>{{ type }}</td>
                    <td>{{ nominal }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "sharebikepayv" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}