{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Shift</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Add/update shift</h1>
        <form action="{% url "shiftcu" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="cu_method" value="{{ cu_method }}">
            <input type="hidden" name="shift_id" value="{{ shift_id }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="shift-staff">Staff</label>
                    <select name="staff" id="shift-staff" class="form-control" aria-label="Shift staff">
                        {% for id, name in staffs %}
                            <option value="{{ id }}" {% if id == shift_id %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="shift-station">Station</label>
                    <select name="station" id="shift-station" class="form-control" aria-label="Shift station">
                        {% for id, name in stations %}
                            <option value="{{ id }}" {% if id == shift_station %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="shift-start">Start Date</label>
                    <input name="start_date" type="datetime-local" class="form-control" id="shift-start" value="{{ shift_start }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="shift-end">End Date</label>
                    <input name="end_date" type="datetime-local" class="form-control" id="shift-end" value="{{ shift_end }}">
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
{% endblock %}