{% extends "_template.html" %}
{% load static %}
{% block header %}
    <title>Share Bike - Shifts</title>
    <link rel="stylesheet" href="{% static "css/index-style.css" %}">
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mt-5">Sharebike Shifts</h1>
        <form class="form-inline" method="GET" action="{% url "shift" %}">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %}selected{% endif %}>Sort by</option>
                <option value="id" {% if sort == "id" %}selected{% endif %}>Id</option>
                <option value="start_datetime" {% if sort == "start_datetime" %}selected{% endif %}>Start date</option>
                <option value="station_id" {% if sort == "station_id" %}selected{% endif %}>Station</option>
                <option value="end_datetime" {% if sort == "end_datetime" %}selected{% endif %}>End date</option>
            </select>
            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Staff</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Station</th>
                {% if user_role == "admin" %}
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for id, start_date, station_id, end_date in shifts %}
                {% for staff in staff_names %}
                    {% for station in station_names %}
                        {% if forloop.counter == forloop.parentloop.counter and forloop.counter == forloop.parentloop.parentloop.counter %}
                            <tr>
                                <th scope="row">{{ id }}</th>
                                <td>{{ staff }}</td>
                                <td>{{ start_date }}</td>
                                <td>{{ end_date }}</td>
                                <td>{{ station }}</td>
                                {% if user_role == "admin" %}
                                    <td>
                                        <a href="{% url "shiftcu" %}?id={{ id }}&station={{ station_id }}"
                                           class="btn btn-outline-dark mr-2">Update</a>
                                        <a href="{% url "shiftdelete" %}?id={{ id }}&station={{ station_id }}"
                                           class="btn btn-outline-danger mr-2">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "shift" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}