{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Station</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Add/update station</h1>
        <form action="{% url "stationcu" %}" method="POST">
            {% csrf_token %}
            <input name="id" type="hidden" value="{{ id }}">
            <input name="cu_method" type="hidden" value="{{ cu_method }}">
            <div class="form-group">
                <label for="station-name">Name</label>
                <input name="name" type="text" class="form-control" id="station-name" placeholder="Name"
                       {% if cu_method == "update" %}value="{{ name }}"{% endif %}>
            </div>
            <div class="form-group">
                <label for="station-address">Address</label>
                <textarea name="address" type="text" class="form-control" id="station-address"
                          placeholder="Address">{% if cu_method == "update" %}{{ address }}{% endif %}</textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="station-latitude">Latitude</label>
                    <input name="lat" type="text" class="form-control" id="station-latitude" placeholder="Lat"
                           {% if cu_method == "update" %}value="{{ lat }}"{% endif %}>
                </div>
                <div class="form-group col-md-6">
                    <label for="station-longitude">Longitude</label>
                    <input name="long" type="text" class="form-control" id="station-longitude" placeholder="Lon"
                           {% if cu_method == "update" %}value="{{ long }}"{% endif %}>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
{% endblock %}