{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Stations</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Sharebike station</h1>
        <form class="form-inline" method="GET" action="{% url "stationvd" %}">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %}selected{% endif %}>Sort by</option>
                <option value="station_id" {% if sort == "station_id" %}selected{% endif %}>Id</option>
                <option value="address" {% if sort == "address" %}selected{% endif %}>Address</option>
                <option value="lat" {% if sort == "lat" %}selected{% endif %}>Latitude</option>
                <option value="long" {% if sort == "long" %}selected{% endif %}>Longitude</option>
                <option value="name" {% if sort == "name" %}selected{% endif %}>Name</option>
            </select>
            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Station</th>
                <th scope="col">Address</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                {% if user_role == "admin" %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for id, address, lat, long, name in stations %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td>{{ name }}</td>
                    <td>{{ address }}</td>
                    <td>{{ lat }}</td>
                    <td>{{ long }}</td>
                    {% if user_role == "admin" %}
                        <td>
                            <a href="{% url "stationcu" %}?id={{ id }}" class="btn btn-outline-dark mr-2">Update</a>
                            <a href="{% url "stationdelete" %}?id={{ id }}" class="btn btn-outline-danger mr-2">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "stationvd" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}