{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Voucher</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Add/update voucher</h1>
        <form>
        <form action= "{% url "vouchercu" %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="rental_id" value="{{ voucher.0 }}">
        <input type="hidden" name="cu_method" value="{{ cu_method }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="station-bike">Name</label>
                    <input name="name" type="text" class="form-control" id="voucher-name" placeholder="Name" value="{{ voucher.1 }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="station-bike">Category</label>
                    <input name="category" type="text" class="form-control" id="voucher-category" placeholder="Category" value="{{ voucher.2 }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="station-bike">Points Value</label>
                    <input name="points value" type="int" class="form-control" id="voucher-pointsvalue" placeholder="Points Value" value="{{ voucher.3 }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="station-bike">Amount</label>
                    <input name="amount" type="text" class="form-control" id="voucher-amount" placeholder="Amount" value="{{ voucher.5 }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="station-bike">Description</label>
                    <textarea name="description" type="text" class="form-control" id="voucher-description" placeholder="Description">
                        {{ voucher.4 }}</textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
{% endblock %}