{% extends "_template.html" %}
{% block header %}
    <title>Sharebike Voucher</title>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1 class="mb-3">Sharebike voucher</h1>
        <form class="form-inline" action="{% url "vouchervd" %}" method="GET">
            <div class="form-group mb-2 mr-2">
                <input type="text" class="form-control" id="filter-query" placeholder="Filter" name="filter-query"
                       aria-label="Filter query">
            </div>
            <select name="sort_by" class="custom-select mb-2 mr-2" aria-label="">
                <option {% if not sort %}selected{% endif %}>Sort by</option>
                <option value="voucher_id" {% if sort == "voucher_id" %}selected{% endif %}>Voucher Id</option>
                <option value="name" {% if sort == "name" %}selected{% endif %}>Name</option>
                <option value="category" {% if sort == "category" %}selected{% endif %}>Category</option>
                <option value="pointsvalue" {% if sort == "pointsvalue" %}selected{% endif %}>Points Value</option>
                <option value="description" {% if sort == "description" %}selected{% endif %}>Description</option>
                <option value="claimed_by" {% if sort == "claimed_by" %}selected{% endif %}>Free</option>
                <option value="action" {% if sort == "action" %}selected{% endif %}>Action</option>
            </select>
            <button role="button" class="btn btn-outline-dark mb-2">Apply</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">points</th>
                <th scope="col">Description</th>
                <th scope="col">Claimed</th>
                {% if user_role == "admin" or user_role == "member" %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for id, name, category, points, description, member in vouchers %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td>{{ name }}</td>
                    <td>{{ category }}</td>
                    <td>{{ points }}</td>
                    <td>{{ description }}</td>
                    <td>
                        {% if member %}
                            {{ member }}
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    {% if user_role == "admin" %}
                        <td>
                            <button type="button" class="btn btn-outline-dark mr-2">Update</button>
                            <button type="button" class="btn btn-outline-danger mr-2">Delete</button>
                        </td>
                    {% elif user_role == "member" %}
                        <td>
                            <button type="button" class="btn btn-outline-success mr-2">Claim</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% for page in pages %}
                    <li class="page-item">
                        <a href="{% url "vouchervd" %}?page={{ page }}" class="page-link text-dark">{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}